/** ltg mastered */

/** DEBUG stuff */

.ltg-debug {
  display: none;
  color: fuchsia;
  background-color: #555;
  padding: 0.5rem;
  font-size: 0.8rem;
}

/** CUSTOM stuff */

h1:not(first-child),
h2:not(first-child),
h3:not(first-child),
h4:not(first-child),
h5:not(first-child),
h6:not(first-child) {
  margin-top: 2rem;
}
.swiper-featured-galerie {
  .swiper-slide {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
}

.footer-container {
  border-top: none !important;
}
.post-thumbnail-container {
  margin-top: 3rem;
}
.sike-bg-wrapper {
  padding: 5rem 0 1rem;
  background-color: $light-gray;
  .main-grid {
    margin-top: 0;
  }
  .container {
    @extend .main-container;
  }
  &.bg-wrapper-logo {
    background-color: #fff;
  }
}
.sike-logo {
  max-width: 300px;
  font-size: 2rem;
  line-height: 1.2;
  .sike-logo-zeile-eins {
    color: $primary-color;
  }
  .sike-logo-zeile-zwei {
    color: $secondary-color;
  }
}
.sike-menu-burger {
  text-align: right;
  padding-bottom: 2px;
}

.sike-top-bar {
  $mPadding: 0.5rem 0.8rem;

  justify-content: space-between;
  z-index: 999999;
  .desktop-menu {
    z-index: 3000;
  }
  .sike-top-bar-menu {
    margin-top: 1rem;
    font-family: $custom-header-font-family;
  }
  .dropdown.menu > li {
    & > a {
      padding: $mPadding;
      background: none;
      color: #000;
    }
    & > a:hover {
      color: $primary-color;
      background-color: #fff;
    }
    &:last-child > a {
      padding-right: 0;
    }
    &:first-child > a {
      padding-left: 0;
    }
    &.is-dropdown-submenu-parent > a {
      &::after {
        display: none;
      }
    }
    &.is-submenu-item > a {
      padding: $mPadding;
    }
  }
  .dropdown.menu > li > .is-dropdown-submenu {
    background-color: #ebebebe6;
    border: none;
    /*font-size: 0.8rem;*/
    padding-top: 0rem;
    & > li > a {
      color: #555;
      &:hover {
        color: #ccc;
      }
    }
  }

  #sike-mobile-menu {
    margin-top: 2rem;
    $mobile-menu-border: 1px solid $mobile-menu-border-arrow-color;
    a {
      color: $primary-color;
      border-top: $mobile-menu-border;
    }
    .is-active > a {
      background-color: $mobile-menu-border-arrow-color;
    }
    button.submenu-toggle {
      border-top: $mobile-menu-border;
    }

    border-bottom: $mobile-menu-border;
  }
}
.post-thumbnail-container {
  .featured-hero.sike-button {
    cursor: pointer;
  }
}
.featured-hero{
  height: 20rem!important;
  @include breakpoint(medium){
    height: 30rem!important;
  }
}
.liste-werk-thumbnail {
  position: relative;
  &:first-child{
    margin-top:0;
  }
}
.liste-werk-werk-bild {
  position: relative;
}
.sike-platzhalter {
  height: 100px;
  max-width: 400px;
  background-color: #ddd;
}
.sike-werk-image-galerie{  
  margin-bottom: (map-get($grid-margin-gutters, small)/2);
  @include breakpoint(medium) {
    margin-bottom: (map-get($grid-margin-gutters, medium)/2);
  }
}
.sike-werk-stack{
  img{
    @include breakpoint(medium){
      max-height: 200px;
      width: auto;
    }
  }
}
a.liste-werk-thumbnail {
  & h4.sike-caption {
    margin-top: 0.5rem;
    margin-bottom:0;
  }
  & .sike-textauszug{
    color: $body-font-color;
    font-size: 0.8rem;
  }
  @include breakpoint(medium) {
    & .sike-caption-trigger {
      -webkit-filter: opacity(0);
      filter: opacity(0);
      transition: 1s;
    }
  }
  &:hover .sike-caption-trigger {
    -webkit-filter: opacity(1);
    filter: opacity(1);
    transition: 0.1s;
  }
}
